.container {
  display: flex;
  height: 100vh;
  background-color: #f4f7fa;
}

.loginBox {
  width: 25%;
  background-color: transparent;
  padding: 40px;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  border: 1px solid #3498db;
}

.loginBox .title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 40px;
  color: #000;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 8px;
  padding: 12px;
  padding-right: 40px;
}

.input .passwordBox {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.forgotPassword {
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: left !important;
}

.submitButton {
  background-color: #3498db;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #2980b9;
}

.imageContainer {
  width: 65%;
  background: url("../../assets/loginImage.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
