.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  margin: 0;
  width: 100%;
  height: calc(100vh - 70px);
}

.container .title {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -20px;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.symptomsBox {
  display: flex;
  flex-direction: column;
}

.submitButton {
  background-color: #007bff !important;
  color: #fff !important;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3 !important;
}

.imageContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }

  .form {
    width: 100%;
  }
}