.wrapper{
    gap: 2rem;
}

.content{
    flex-direction: column;
    gap: 2rem;
    color: #87BFF7;
    width: 50%;
    text-align: center;
}

.button{
    background: #fff;
    transition: all 0.3s ease; 
}

.button:hover{
    background: #87BFF7;
    color: #fff;
}